@use "src/shared/styles/token" as *;

.news-page {
  @include flex-column;
  width: 100%;
  padding: $spacing-3xl 0 $spacing-5xl;
  justify-content: center;
}

.news-page__pagination {
  display: flex;
  justify-content: center;
  margin-top: $spacing-3xl;
}