@use "@bigtablet/design-system/scss/token" as token;
@use "../../form-base.module" as base;

.row_edu {
  grid-template-columns: 1fr 1fr;

  @media (max-width: 860px) {
    grid-template-columns: 1fr;
  }
}

.is_ged {
  grid-template-columns: 1fr;
}

.row_edu_dates {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}

.row_ged {
  grid-template-columns: 1fr;
}