@use "@bigtablet/design-system/scss/token" as token;

.apply_form {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  background: token.$color_bg_solid;
  border: 1px solid token.$color_border_default;
  border-radius: token.$radius_xl;
  box-shadow: token.$elevation_level1;
  padding: token.$spacing_48 token.$spacing_48;
}

.apply_grid {
  display: flex;
  gap: token.$spacing_48;
}

.apply_left {
  @include token.flex_column;
  gap: token.$spacing_32;
}

.apply_right {
  @include token.flex_column;
  width: 30%;
  gap: token.$spacing_24;
  align-items: flex-start;
  text-align: left;
}

.apply_submit {
  margin-top: token.$spacing_32;
}

.apply_footer {
  @include token.body_medium;
  font-size: token.$font_size_12;
  text-align: center;
  color: token.$color_text_caption;
  margin-top: token.$spacing_8;

  a {
    color: token.$color_brand_primary;
    text-decoration: underline;
  }
}

.form_error {
  margin-top: token.$spacing_8;
  font-size: token.$font_size_14;
  color: token.$color_status_error;
}