@use "../../../../node_modules/.pnpm/@bigtablet+design-system@1.6.6_lucide-react@0.553.0_react@19.2.0__next@16.0.9_@opentele_27ee9b57465686c2585574e092d19da6/node_modules/@bigtablet/design-system/dist/styles/scss/token" as token;

.problem {
  @include token.flex_between;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  white-space: pre-line;
  gap: token.$spacing_2xl;
  color: token.$text_normal;
}

.problem_title {
  @include token.heading_2;
  flex: 0 0 35%;
  font-size: token.$font_size_4xl;
  color: token.$text_strong;
  line-height: token.$line_height_snug;
}

.problem_description {
  @include token.body_medium;
  flex: 0 0 55%;
  font-size: token.$font_size_xl;
  color: token.$text_normal;
  line-height: token.$line_height_relaxed;
}

@include token.mobile {
  .problem {
    @include token.flex_column;
    width: 88%;
    text-align: left;
    gap: token.$spacing_xl;
  }

  .problem_title {
    font-size: token.$font_size_2xl;
    line-height: token.$line_height_snug;
    flex: 0 0 auto;
  }

  .problem_description {
    font-size: token.$font_size_lg;
    line-height: token.$line_height_relaxed;
    flex: 0 0 auto;
  }
}