@use "src/shared/styles/token" as *;
@use 'mixin' as *;

.select {
  @include sel-base;

  &__label {
    @include text-sm;
    font-weight: $font-weight-medium;
    color: $color-text-primary;
  }

  &__control {
    &--outline { @include sel-control-outline; }
    &--filled  { @include sel-control-filled;  }
    &--ghost   { @include sel-control-ghost;   }

    &--sm { @include sel-sm; }
    &--md { @include sel-md; }
    &--lg { @include sel-lg; }

    .select__value       { @include sel-value; }
    .select__placeholder { @include sel-placeholder; }
    .select__icon        { @include sel-icon; }
  }

  &__list   { @include sel-list; }
  &__option { @include sel-option; }
}