@use "@bigtablet/design-system/scss/token" as token;

.news_list {
  @include token.flex_column;
  width: 100%;
  padding: token.$spacing_xl 0;
  align-items: center;
}

.news_list_grid {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: token.$spacing_xl;
}

.news_list_empty {
  @include token.body_regular;
  font-size: token.$font_size_lg;
  color: token.$text_subtle;
  margin-top: token.$spacing_3xl;
  text-align: center;
}

@include token.tablet {
  .news_list_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include token.laptop {
  .news_list_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@include token.desktop {
  .news_list_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}