@use "src/shared/styles/token" as *;

.news-list {
  width: 100%;
  height: 100%;
}

.news-list__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: $spacing-xl;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .news-list__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .news-list__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.news-list__empty {
  @include body-regular;
  font-size: $font-size-lg;
  margin-top: $spacing-2xl;
  color: $text-subtle;
  text-align: center;
}