@use "@bigtablet/design-system/scss/token" as token;

.news_list {
  @include token.flex-column;
  width: 100%;
  padding: token.$spacing-xl 0;
  align-items: center;
}

.news_list_grid {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: token.$spacing-xl;
}

@media (min-width: 768px) {
  .news_list_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .news_list_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.news_list_empty {
  @include token.body-regular;
  font-size: token.$font-size-lg;
  color: token.$text-subtle;
  margin-top: token.$spacing-3xl;
  text-align: center;
}