@use "@bigtablet/design-system/scss/token" as token;

.recruit_header {
  @include token.flex_column;
  width: 100%;
  gap: token.$spacing_2xl;
  color: token.$text_normal;
  padding: token.$spacing_3xl 0 token.$spacing_xl;
  margin: 0 auto;
}

.recruit_header_text {
  @include token.flex_column;
  gap: token.$spacing_sm;

  h2 {
    @include token.heading_2;
    font-size: token.$font_size_2xl;
    color: token.$text_strong;
  }

  p {
    @include token.body_medium;
    font-size: token.$font_size_lg;
    color: token.$text_subtle;
  }
}

.recruit_divider {
  width: 100%;
  height: 1px;
  background: token.$color_border_light;
}

.recruit_search {
  @include token.flex_center;
  flex-wrap: wrap;
  gap: token.$spacing_sm;
  width: 100%;
}

.recruit_search_input {
  flex: 1;
  padding: token.$spacing_sm token.$spacing_md;
  border: 1px solid token.$color_border;
  border-radius: token.$radius_md;
  font-size: token.$font_size_sm;
  color: token.$text_normal;
  background: token.$color_background;

  &::placeholder {
    color: token.$text_disabled;
  }

  &:focus {
    border-color: token.$color_border_light;
    outline: none;
  }
}

.recruit_search_select {
  min-width: 120px;
  padding: token.$spacing_sm token.$spacing_md;
  border: 1px solid token.$color_border;
  border-radius: token.$radius_md;
  background: token.$color_background;
  font-size: token.$font_size_sm;
  color: token.$text_normal;
  cursor: pointer;

  &:focus {
    border-color: token.$color_border_light;
    outline: none;
  }
}

.recruit_register_button {
  @include token.flex_center;
  @include token.caption;
  padding: token.$spacing_sm token.$spacing_md;
  border-radius: token.$radius_md;
  border: 1px solid transparent;
  background: token.$color_primary;
  color: token.$text_inverse;
  height: 36px;
  cursor: pointer;
  transition: token.$transition_base;
  white-space: nowrap;

  &:hover {
    background: token.$color_primary_hover;
  }

  &:active {
    background: token.$color_primary_hover;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}