@use "ds-token" as token;

.policy {
	padding: 36px 0;
	@include token.flex_column;
	max-width: 1200px;
	width: 100%;
	gap: token.$spacing_24;
	margin: 0 auto;
}

.policy_body {
	@include token.flex_column;
	gap: token.$spacing_24;

	h1 {
		@include token.display_small_bold;
		font-size: token.$font_size_40;
		color: token.$color_text_heading;
	}

	h2 {
		@include token.heading_medium_bold;
		font-size: token.$font_size_24;
		color: token.$color_text_body;
	}

	p {
		@include token.body_medium;
		font-size: token.$font_size_16;
		color: token.$color_text_body;
		line-height: 1.75;
	}

	a {
		color: token.$color_brand_primary;
		text-decoration: underline;
	}

	ul,
	ol {
		padding-left: token.$spacing_20;

		li {
			@include token.body_medium;
			font-size: token.$font_size_16;
			color: token.$color_text_body;
			line-height: 1.75;
		}
	}
}

@include token.compact {
	.policy {
		padding: 28px token.$spacing_12;
		gap: token.$spacing_20;
	}

	.policy_body {
		gap: token.$spacing_20;

		h1 {
			font-size: token.$font_size_24;
		}

		h2 {
			font-size: token.$font_size_18;
		}

		p,
		ul li,
		ol li {
			font-size: token.$font_size_14;
		}

		ul,
		ol {
			padding-left: token.$spacing_16;
		}
	}
}
