@use "src/shared/styles/token" as *;

.template {
  @include flex-column;
  min-height: 100svh;
  background-color: $color-background-secondary;
  color: $text-normal;
}

.template_main {
  @include flex-column;
  width: 100%;
  flex: 1 0 auto;
  align-items: center;
  overflow: visible;

  &--top {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }
}