@use "src/shared/styles/token" as *;

.month-picker__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.month-picker__label {
  @include body-medium;
  font-size: $font-size-sm;
  color: $text-strong;
}

.month-picker {
  width: 100%;
}

.month-picker__popup {
  font-family: inherit;
  border-radius: $radius-lg;
  border: 1px solid $color-border;
  box-shadow: $shadow-sm;
  background: $color-background;
  padding: $spacing-sm;

  .react-datepicker__header {
    background: $color-background;
    border-bottom: 1px solid $color-border;
    padding-block: $spacing-xs;
  }

  .react-datepicker__current-month,
  .react-datepicker__month-read-view--selected-month,
  .react-datepicker__year-read-view--selected-year {
    @include body-medium;
    font-size: $font-size-sm;
    color: $text-strong;
  }

  .react-datepicker__month {
    margin: $spacing-sm;
  }

  .react-datepicker__month-text {
    @include body-regular;
    font-size: $font-size-sm;
    color: $text-normal;
    border-radius: $radius-md;
    padding: $spacing-xs $spacing-sm;

    &--selected,
    &--keyboard-selected {
      background: $color-primary;
      color: $text-inverse;
    }

    &:hover {
      background: $color-background-secondary;
    }
  }

  .react-datepicker__navigation {
    top: $spacing-xs;
  }
}