// 세로 정렬
@mixin flex-column { display: flex; flex-direction: column; }

// 가로 정렬
@mixin flex-row { display: flex; flex-direction: row; }

// 중앙 정렬
@mixin flex-center { display: flex; justify-content: center; align-items: center; }

// 양쪽 정렬
@mixin flex-between { display: flex; justify-content: space-between; align-items: center; }

// 좌측 정렬
@mixin flex-left { display: flex; align-items: flex-start; }

// 우측 정렬
@mixin flex-right { display: flex; align-items: flex-end; }