@use "@bigtablet/design-system/scss/token" as token;

.banner {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  white-space: pre-line;
  color: token.$text_inverse;
  background: token.$color_background;
}

.banner_video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.banner_video_tag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner_content {
  @include token.flex_column;
  @include token.flex_center;
  position: relative;
  height: 100%;
  gap: token.$spacing_3xl;
  color: token.$text_inverse;
  text-align: center;
  padding-inline: token.$spacing_xl;
}

.banner_title {
  @include token.heading_1;
  font-size: token.$font_size_4xl;
  line-height: 1.1;
  color: token.$text_inverse;
}

.banner_description {
  @include token.body_medium;
  font-size: token.$font_size_xl;
  opacity: 0.9;
  color: rgba(token.$text_inverse, 0.9);
}

.banner_cta {
  display: inline-block;
}

@include token.mobile {
  .banner {
    height: 80vh;
  }

  .banner_title {
    font-size: token.$font_size_3xl;
  }

  .banner_description {
    font-size: token.$font_size_md;
  }
}