@use "src/shared/styles/token" as *;

.TermsOfUse {
  padding: $spacing-5xl 0;
  @include flex-column;
  @include body-regular;
  color: $text-normal;
  max-width: 1200px;
  width: 100%;
  gap: $spacing-2xl;
  margin: 0 auto;

  section {
    @include flex-column;
    gap: $spacing-xl;
  }

  h1 {
    @include heading-1;
    font-size: $font-size-4xl;
    color: $text-strong;
  }

  h2 {
    @include heading-2;
    font-size: $font-size-2xl;
    color: $text-normal;
  }

  h4 {
    @include body-medium;
    font-size: $font-size-md;
    color: $text-subtle;
  }

  p {
    @include body-regular;
    font-size: $font-size-md;
    color: $text-normal;
    line-height: $line-height-relaxed;
  }
}