@use "@bigtablet/design-system/scss/token" as token;

.terms {
  padding: token.$spacing_48 0;
  @include token.flex_column;
  @include token.body_medium;
  color: token.$color_text_body;
  max-width: 1200px;
  width: 100%;
  gap: token.$spacing_40;
  margin: 0 auto;

  section {
    @include token.flex_column;
    gap: token.$spacing_32;
  }

  h1 {
    @include token.heading_large_medium;
    font-size: token.$font_size_40;
    color: token.$color_text_heading;
  }

  h2 {
    @include token.heading_medium_medium;
    font-size: token.$font_size_24;
    color: token.$color_text_body;
  }

  h4 {
    @include token.body_medium_medium;
    font-size: token.$font_size_16;
    color: token.$color_text_caption;
  }

  p {
    @include token.body_medium;
    font-size: token.$font_size_16;
    color: token.$color_text_body;
    line-height: token.$line_height_28;
  }
}