@use "@bigtablet/design-system/scss/token" as token;

.solution {
	@include token.flex_column;
	@include token.flex_center;
	width: 100%;
	gap: token.$spacing_3xl;
	color: token.$text_strong;
}

.solution_title {
	@include token.heading_2;
	font-size: clamp(token.$font_size_2xl, 4vw, token.$font_size_4xl);
	color: token.$text_strong;
	text-align: center;
	white-space: pre-line;
}

.solution_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: token.$spacing_xl;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 token.$spacing_xl;
}

@include token.desktop {
	.solution_grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}

@include token.laptop {
	.solution_title {
		font-size: token.$font_size_3xl;
	}

	.solution_grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}

@include token.tablet {
	.solution {
		gap: token.$spacing_2xl;
	}

	.solution_title {
		font-size: token.$font_size_2xl;
	}

	.solution_grid {
		gap: token.$spacing_lg;
		padding: 0 token.$spacing_lg;
	}
}

@include token.mobile {
	.solution_grid {
		gap: token.$spacing_md;
		padding: 0 token.$spacing_md;
	}
}
