@use "@bigtablet/design-system/scss/token" as token;

.profile {
  @include token.flex_column;
  color: token.$text_normal;
  gap: token.$spacing_sm;
  padding: token.$spacing_lg;
}

.profile_image {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1 / 1.25;
  border-radius: token.$radius_md;
  overflow: hidden;
  background: token.$color_background_secondary;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.profile_image_fallback {
  inline-size: 100%;
  block-size: 100%;
  background: token.$color_border_light;
}

.profile_content {
  @include token.flex_column;
  gap: token.$spacing_sm;
  color: token.$text_strong;
}

.profile_info {
  display: grid;
  row-gap: 4px;
}

.profile_position {
  @include token.body_medium;
  font-size: token.$font_size_sm;
  color: token.$text_subtle;
}

.profile_name {
  @include token.heading_2;
  font-size: token.$font_size_2xl;
  color: token.$text_strong;
}

.profile_description {
  @include token.body_regular;
  font-size: token.$font_size_md;
  color: token.$text_normal;
  line-height: token.$line_height_relaxed;
}

.profile_links {
  display: grid;
  grid-auto-flow: column;
  gap: token.$spacing_sm;
  justify-content: start;
}

.profile_link {
  inline-size: 28px;
  block-size: 28px;
  border-radius: token.$radius_sm;
  background: token.$text_strong;
  color: token.$text_inverse;
  display: grid;
  place-items: center;
  text-decoration: none;

  @include token.body_medium;
  font-size: token.$font_size_xs;
  transition: background token.$transition_base;

  &:hover {
    background: token.$color_primary;
  }
}

@include token.mobile {
  .profile {
    padding: token.$spacing_md;
  }

  .profile_name {
    font-size: token.$font_size_xl;
  }

  .profile_description {
    font-size: token.$font_size_base;
  }

  .profile_link {
    inline-size: 24px;
    block-size: 24px;
    font-size: token.$font_size_xs;
  }
}