@use "@bigtablet/design-system/scss/token" as token;

.profile {
  @include token.flex_column;
  color: token.$color_text_body;
  gap: token.$spacing_8;
  padding: token.$spacing_24;
}

.profile_image {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1 / 1.25;
  border-radius: token.$radius_md;
  overflow: hidden;
  background: token.$color_bg_solid_dim;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.profile_image_fallback {
  inline-size: 100%;
  block-size: 100%;
  background: token.$color_border_subtle;
}

.profile_content {
  @include token.flex_column;
  gap: token.$spacing_8;
  color: token.$color_text_heading;
}

.profile_info {
  display: grid;
  row-gap: 4px;
}

.profile_position {
  @include token.body_medium;
  font-size: token.$font_size_14;
  color: token.$color_text_caption;
}

.profile_name {
  @include token.heading_medium_medium;
  font-size: token.$font_size_24;
  color: token.$color_text_heading;
}

.profile_description {
  @include token.body_medium;
  font-size: token.$font_size_16;
  color: token.$color_text_body;
  line-height: token.$line_height_28;
}

.profile_links {
  display: grid;
  grid-auto-flow: column;
  gap: token.$spacing_8;
  justify-content: start;
}

.profile_link {
  inline-size: 28px;
  block-size: 28px;
  border-radius: token.$radius_sm;
  background: token.$color_text_heading;
  color: token.$color_text_inverse;
  display: grid;
  place-items: center;
  text-decoration: none;

  @include token.body_medium;
  font-size: token.$font_size_12;
  transition: background token.$transition_base;

  &:hover {
    background: token.$color_brand_primary;
  }
}

@include token.compact {
  .profile {
    padding: token.$spacing_16;
  }

  .profile_name {
    font-size: token.$font_size_20;
  }

  .profile_description {
    font-size: token.$font_size_16;
  }

  .profile_link {
    inline-size: 24px;
    block-size: 24px;
    font-size: token.$font_size_12;
  }
}