* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Pretendard", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}