@use "src/shared/styles/token" as *;

.field {
  @include flex-column;
  gap: $spacing-sm;

  label {
    @include body-medium;
    font-size: $font-size-sm;
    color: $text-strong;
  }
}

.sub {
  font-size: $font-size-xs;
  color: $text-subtle;
  margin-left: $spacing-xs;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-sm;
}

.help {
  font-size: $font-size-xs;
  color: $text-subtle;
  margin-top: $spacing-xs;
}

.error {
  font-size: $font-size-xs;
  color: $color-error;
}