@use "@bigtablet/design-system/scss/token" as token;

.interview {
}

.interview_scroll {
  max-block-size: calc(100vh - 32px - 40px);
  overflow-y: auto;
  display: grid;
  row-gap: token.$spacing_md;
  padding-inline-end: token.$spacing_xs;
}

.interview_empty {
  @include token.body_regular;
  font-size: token.$font_size_sm;
  color: token.$text_subtle;
}

.qa {
  background: token.$color_background;
  color: token.$text_normal;
  border: 1px solid token.$color_border;
  border-radius: token.$radius_lg;
  padding: token.$spacing_lg;
  display: grid;
  row-gap: token.$spacing_sm;
}

.qa_q {
  @include token.heading_3;
  font-size: token.$font_size_xl;
  color: token.$text_strong;
  margin: 0 0 token.$spacing_xs 0;
}

.qa_a {
  @include token.body_regular;
  font-size: token.$font_size_md;
  color: token.$text_normal;
  white-space: pre-line;
  line-height: token.$line_height_relaxed;
}

/* mobile */
@include token.mobile {
  .qa {
    border-radius: token.$radius_md;
    padding: token.$spacing_md;
  }

  .qa_q {
    font-size: token.$font_size_lg;
  }

  .qa_a {
    font-size: token.$font_size_base;
  }
}