@use "@bigtablet/design-system/scss/token" as token;

.interview {
}

.interview_scroll {
  max-block-size: calc(100vh - 32px - 40px);
  overflow-y: auto;
  display: grid;
  row-gap: token.$spacing_16;
  padding-inline-end: token.$spacing_4;
}

.interview_empty {
  @include token.body_medium;
  font-size: token.$font_size_14;
  color: token.$color_text_caption;
}

.qa {
  background: token.$color_bg_solid;
  color: token.$color_text_body;
  border: 1px solid token.$color_border_default;
  border-radius: token.$radius_lg;
  padding: token.$spacing_24;
  display: grid;
  row-gap: token.$spacing_8;
}

.qa_q {
  @include token.heading_small_medium;
  font-size: token.$font_size_20;
  color: token.$color_text_heading;
  margin: 0 0 token.$spacing_4 0;
}

.qa_a {
  @include token.body_medium;
  font-size: token.$font_size_16;
  color: token.$color_text_body;
  white-space: pre-line;
  line-height: token.$line_height_28;
}

/* mobile */
@include token.compact {
  .qa {
    border-radius: token.$radius_md;
    padding: token.$spacing_16;
  }

  .qa_q {
    font-size: token.$font_size_18;
  }

  .qa_a {
    font-size: token.$font_size_16;
  }
}