@use "src/styles/function/flex" as *;
@use "src/styles/typography/mixin" as *;

.text-field {
  @include flex-column;
  width: 100%;
  gap: 4px;

  input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background-color: var(--text-light);
    border: none;
    color: var(--primary-black);

    ::placeholder {
      color: var(--gray-medium);
      @include Regular;
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }
  }
}