@use "src/styles/function/flex" as *;

.main-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-padding-top: 80px;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.snap {
  @include flex-center;
  width: 100%;
  scroll-snap-align: start;
}

%ground-base {
  @include flex-column;
  gap: 400px;
  padding: 100px;
  width: 100%;
}

.gradient {
  @extend %ground-base;
  background: linear-gradient(180deg, #eeeeee 0%, #b0b7bb 48%, #47555e 100%);
}

.collab-bg {
  @extend %ground-base;
  background: linear-gradient(
                  180deg,
                  #47555e 0%,
                  #47555e 15%,
                  #303841 35%,
                  #48565f 100%
  );
}