@use "src/styles/function/flex" as *;

.main-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-padding-top: 80px;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.snap {
  @include flex-center;
  width: 100%;
  scroll-snap-align: start;
}

.gradient {
  @include flex-column;
  gap: 400px;
  padding: 100px;
  width: 100%;
  background: linear-gradient(
                  180deg,
                  #eeeeee 0%,
                  #b0b7bb 48%,
                  #47555e 100%
  );
}