@use "src/shared/styles/function/flex" as *;

.template {
  @include flex-column;
  min-height: 100svh;
  background-color: var(--text-light);
}

.template__main {
  @include flex-column;
  align-items: center;
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow: visible;
}