@use "@bigtablet/design-system/scss/token" as token;

.recruit_page {
  @include token.flex_column;
  align-items: center;
  width: 70%;
  padding: token.$spacing_4xl 0 token.$spacing_5xl;
  margin: 0 auto;
}

.recruit_page_list {
  width: 100%;
  margin-top: token.$spacing_3xl;
}