@use "src/shared/styles/function/flex" as *;
@use "src/shared/styles/typography/mixin" as *;

.recruit-page {
  @include flex-column;
  width: 70%;
  align-items: center;
  padding: 60px 0 100px;

  &__list {
    width: 100%;
    margin-top: 40px;
  }
}