@use "src/shared/styles/token" as *;

.recruit-page {
  @include flex-column;
  align-items: center;
  width: 70%;
  padding: $spacing-4xl 0 $spacing-5xl;
  margin: 0 auto;

  &__list {
    width: 100%;
    margin-top: $spacing-3xl;
  }
}