@use "@bigtablet/design-system/scss/token" as token;

.request_item.skeleton {
  pointer-events: none;
}

.skeleton_title {
  width: 14rem;
  height: token.$spacing_lg;
  border-radius: token.$radius_md;
  background: linear-gradient(
                  90deg,
                  token.$color_background_secondary 25%,
                  token.$color_border 37%,
                  token.$color_background_secondary 63%
  );
  background-size: 400% 100%;
  animation: skeleton_shimmer 1.2s ease-in-out infinite;
  margin-bottom: token.$spacing_sm;
}

.skeleton_tag {
  display: inline-block;
  width: 4rem;
  height: 1.375rem;
  border-radius: token.$radius_md;
  background: linear-gradient(
                  90deg,
                  token.$color_background_secondary 25%,
                  token.$color_border 37%,
                  token.$color_background_secondary 63%
  );
  background-size: 400% 100%;
  animation: skeleton_shimmer 1.2s ease-in-out infinite;
}

.skeleton_dday {
  display: inline-block;
  width: 3rem;
  height: 1rem;
  border-radius: token.$radius_md;
  background: linear-gradient(
                  90deg,
                  token.$color_background_secondary 25%,
                  token.$color_border 37%,
                  token.$color_background_secondary 63%
  );
  background-size: 400% 100%;
  animation: skeleton_shimmer 1.2s ease-in-out infinite;
}

@keyframes skeleton_shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}