@use "src/shared/styles/token" as *;

.request-item.skeleton {
  pointer-events: none;
}

.skeleton__title {
  width: 14rem;
  height: $spacing-lg;
  border-radius: $radius-md;
  background: linear-gradient(
                  90deg,
                  $color-background-secondary 25%,
                  $color-border 37%,
                  $color-background-secondary 63%
  );
  background-size: 400% 100%;
  animation: skeleton-shimmer 1.2s ease-in-out infinite;
  margin-bottom: $spacing-sm;
}

.skeleton__tag {
  display: inline-block;
  width: 4rem;
  height: 1.375rem;
  border-radius: $radius-md;
  background: linear-gradient(
                  90deg,
                  $color-background-secondary 25%,
                  $color-border 37%,
                  $color-background-secondary 63%
  );
  background-size: 400% 100%;
  animation: skeleton-shimmer 1.2s ease-in-out infinite;
}

.skeleton__dday {
  display: inline-block;
  width: 3rem;
  height: 1rem;
  border-radius: $radius-md;
  background: linear-gradient(
                  90deg,
                  $color-background-secondary 25%,
                  $color-border 37%,
                  $color-background-secondary 63%
  );
  background-size: 400% 100%;
  animation: skeleton-shimmer 1.2s ease-in-out infinite;
}

@keyframes skeleton-shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}