@use "@bigtablet/design-system/scss/token" as token;

.introduce {
  @include token.flex_between;
  gap: token.$spacing_32;
  padding: token.$spacing_48 8vw;

  &.introduce_reverse {
    flex-direction: row-reverse;
  }
}

.introduce_text {
  flex: 1;
  @include token.flex_column;
  gap: token.$spacing_8;
  font-family: token.$font_family_primary;
}

.introduce_title {
  @include token.heading_medium_medium;
  font-size: token.$font_size_24;
  color: token.$color_text_heading;
  letter-spacing: token.$letter_spacing_normal;
  line-height: token.$line_height_20;
}

.introduce_desc {
  @include token.body_medium;
  font-size: token.$font_size_16;
  color: token.$color_text_caption;
  line-height: token.$line_height_28;
  white-space: pre-line;
}

.introduce_image {
  flex: 1;
  @include token.flex_center;
}

.introduce_img {
  max-width: 100%;
  max-height: 420px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

@include token.compact {
  .introduce {
    @include token.flex_column;
    flex-direction: column-reverse;
    text-align: center;
    gap: token.$spacing_24;
    padding: token.$spacing_40 token.$spacing_24;

    &.introduce_reverse {
      flex-direction: column-reverse;
    }
  }

  .introduce_text {
    gap: token.$spacing_4;
  }

  .introduce_image {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;

    .introduce_img {
      max-height: 200px;
    }
  }

  .introduce_title {
    font-size: token.$font_size_18;
  }

  .introduce_desc {
    font-size: token.$font_size_14;
  }
}

@include token.medium {
  .introduce {
    gap: token.$spacing_40;
    padding: token.$spacing_48 8vw;
  }

  .introduce_text {
    gap: token.$spacing_16;
  }

  .introduce_title {
    font-size: token.$font_size_24;
  }

  .introduce_desc {
    font-size: token.$font_size_16;
  }
}

@include token.from_expanded {
  .introduce {
    gap: token.$spacing_48;
    padding: token.$spacing_48 8vw;
  }

  .introduce_text {
    gap: token.$spacing_24;
  }

  .introduce_title {
    font-size: token.$font_size_32;
  }

  .introduce_desc {
    font-size: token.$font_size_18;
  }
}

@include token.from_large {
  .introduce {
    gap: token.$spacing_48;
    padding: token.$spacing_48 8vw;
  }

  .introduce_text {
    gap: token.$spacing_24;
  }

  .introduce_title {
    font-size: token.$font_size_32;
  }

  .introduce_desc {
    font-size: token.$font_size_18;
  }
}