@use "@bigtablet/design-system/scss/token" as token;

.introduce {
  @include token.flex_between;
  gap: token.$spacing_xl;
  padding: token.$spacing_4xl 8vw;

  &.introduce_reverse {
    flex-direction: row-reverse;
  }
}

.introduce_text {
  flex: 1;
  @include token.flex_column;
  gap: token.$spacing_sm;
  font-family: token.$font_family_primary;
}

.introduce_title {
  @include token.heading_2;
  font-size: token.$font_size_2xl;
  color: token.$text_strong;
  letter-spacing: token.$letter_spacing_tight;
  line-height: token.$line_height_snug;
}

.introduce_desc {
  @include token.body_medium;
  font-size: token.$font_size_md;
  color: token.$text_subtle;
  line-height: token.$line_height_relaxed;
  white-space: pre-line;
}

.introduce_image {
  flex: 1;
  @include token.flex_center;

  img {
    max-width: 100%;
    max-height: 420px;
    height: auto;
    object-fit: contain;
    display: block;
  }
}

@include token.mobile {
  .introduce {
    @include token.flex_column;
    text-align: center;
    gap: token.$spacing_xl;
    padding: token.$spacing_4xl 8vw;
  }

  .introduce_image {
    margin-top: token.$spacing_lg;
  }

  .introduce_title {
    font-size: token.$font_size_xl;
  }

  .introduce_desc {
    font-size: token.$font_size_base;
  }
}

@include token.tablet {
  .introduce {
    gap: token.$spacing_2xl;
    padding: token.$spacing_5xl 8vw;
  }

  .introduce_text {
    gap: token.$spacing_md;
  }

  .introduce_title {
    font-size: token.$font_size_2xl;
  }

  .introduce_desc {
    font-size: token.$font_size_md;
  }
}

@include token.laptop {
  .introduce {
    gap: token.$spacing_3xl;
    padding: token.$spacing_5xl 8vw;
  }

  .introduce_text {
    gap: token.$spacing_lg;
  }

  .introduce_title {
    font-size: token.$font_size_3xl;
  }

  .introduce_desc {
    font-size: token.$font_size_lg;
  }
}

@include token.desktop {
  .introduce {
    gap: token.$spacing_3xl;
    padding: token.$spacing_5xl 8vw;
  }

  .introduce_text {
    gap: token.$spacing_lg;
  }

  .introduce_title {
    font-size: token.$font_size_3xl;
  }

  .introduce_desc {
    font-size: token.$font_size_lg;
  }
}