@use "@bigtablet/design-system/scss/token" as token;

.member_card {
  background: token.$color_background_secondary;
  border: 1px solid token.$color_border;
  border-radius: token.$radius_lg;
  width: 240px;
  height: 355px;
  padding: token.$spacing_lg;
  text-align: center;
  color: token.$text_normal;
  cursor: pointer;
  @include token.hover_lift(-4px, token.$shadow_elevated);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.member_card_image {
  width: 100%;
  height: 220px;
  border-radius: token.$radius_md;
  background: token.$color_background;
  margin-bottom: token.$spacing_sm;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.member_card_position {
  @include token.body_medium;
  font-size: token.$font_size_sm;
  color: token.$text_subtle;
  margin-bottom: 2px;
}

.member_card_name {
  @include token.heading_3;
  font-size: token.$font_size_lg;
  margin: 0 0 4px;
  color: token.$text_strong;
}

.member_card_desc {
  @include token.body_regular;
  font-size: token.$font_size_sm;
  color: token.$text_subtle;
  line-height: token.$line_height_normal;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 640px) {
  .member_card {
    width: 200px;
    height: 300px;
    padding: token.$spacing_md;
  }

  .member_card_image {
    height: 180px;
  }

  .member_card_name {
    font-size: token.$font_size_md;
  }

  .member_card_desc {
    font-size: token.$font_size_xs;
  }
}