@use "@bigtablet/design-system/scss/token" as token;

.member_detail {
  color: token.$color_text_inverse;
  min-height: 100vh;
  padding-block: token.$spacing_40 token.$spacing_48;
  padding-inline: token.$spacing_16;
  display: grid;
  place-items: center;
  row-gap: token.$spacing_16;

  &_inner {
    inline-size: min(1100px, 92vw);
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: token.$spacing_40;
    align-items: start;
  }

}

@include token.compact {
  .member_detail {
    &_inner {
      grid-template-columns: 1fr;
      row-gap: token.$spacing_24;
    }
  }
}

@include token.medium {
  .member_detail {
    &_inner {
      grid-template-columns: 1fr;
      row-gap: token.$spacing_24;
    }
  }
}