@use "@bigtablet/design-system/scss/token" as token;

.apply {
  @include token.flex_column_center;
  width: 100%;
  padding: token.$spacing_32 0 token.$spacing_48;
  border-top: 1px solid token.$color_border_default;
  align-items: center;
}

.apply_title {
  @include token.heading_medium_medium;
  font-size: token.$font_size_24;
  color: token.$color_text_heading;
  width: 100%;
  max-width: 880px;
  margin: 0 auto token.$spacing_24 auto;
  text-align: left;
}