@use "@bigtablet/design-system/scss/token" as token;

.apply {
  @include token.flex_column_center;
  width: 100%;
  padding: token.$spacing_xl 0 token.$spacing_5xl;
  border-top: 1px solid token.$color_border;
  align-items: center;
}

.apply_title {
  @include token.heading_2;
  font-size: token.$font_size_2xl;
  color: token.$text_strong;
  width: 100%;
  max-width: 880px;
  margin: 0 auto token.$spacing_lg auto;
  text-align: left;
}