@use "@bigtablet/design-system/scss/token" as token;

.news_card {
  @include token.flex_column;
  height: 100%;
  padding: token.$spacing_md;
  background: token.$color_background;
  border: 1px solid token.$color_border;
  border-radius: token.$radius_lg;
  text-decoration: none;
  color: token.$text_normal;
  @include token.hover_lift(-4px, token.$shadow_elevated);

  &:hover {
    background: token.$color_background_secondary;
    border-color: token.$color_primary_hover;
  }

  &:focus-visible {
    outline: none;
    border-color: token.$color_primary;
    box-shadow: token.$glow_accent;
  }
}

.news_card_thumb {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: token.$radius_md;
  overflow: hidden;
  background: token.$color_background_secondary;
  border: 1px solid token.$color_border;

  &.is_loaded {
    border-color: transparent;
    background: transparent;
  }

  &.is_error {
    display: grid;
    place-items: center;
    border: 1px dashed rgba(token.$color_border, 0.8);
    background: linear-gradient(180deg, token.$color_background_neutral, token.$color_background_muted);

    &::after {
      content: "no image";
      @include token.text_xs;
      color: token.$text_subtle;
      opacity: 0.65;
    }
  }
}

.news_card_img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_card_meta {
  display: flex;
  align-items: center;
  gap: token.$spacing_xs;
  margin-top: token.$spacing_sm;
  color: token.$text_subtle;
  font-size: token.$font_size_xs;
}

.news_card_title {
  @include token.heading_3;
  margin-top: token.$spacing_sm;
  font-size: token.$font_size_md;
  color: token.$text_strong;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}