@use "src/styles/function/flex" as *;
@use "src/styles/typography/mixin" as *;

.company-textfield {
  @include flex-column;
  width: 100%;
  padding: 5px;
  gap: 6px;

  &__label {
    @include Regular;
    font-size: 14px;
    color: var(--primary-black);
  }

  &__input {
    @include SemiBold;
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--primary-black);
    background: none;
    font-size: 20px;
    color: var(--primary-black);
    outline: none;

    &::placeholder {
      color: var(--gray-medium);
    }
  }

  &__value {
    @include SemiBold;
    font-size: 20px;
    padding: 5px;
  }
}