@use "@bigtablet/design-system/scss/token" as token;

.request_list {
  @include token.flex_column;
  width: 100%;
  margin: 0 auto;
  gap: token.$spacing_8;
}

.request_list_loading,
.request_list_empty {
  text-align: center;
  font-size: token.$font_size_14;
  color: token.$color_text_body;
  padding: token.$spacing_32 0;
}

.request_item {
  @include token.flex_between;
  align-items: flex-start;
  text-decoration: none;
  color: token.$color_text_body;
  border: 1px solid token.$color_border_default;
  border-radius: token.$radius_lg;
  background: token.$color_bg_solid;
  padding: token.$spacing_24 token.$spacing_32;
  transition: transform token.$transition_base,
  border-color token.$transition_base,
  box-shadow token.$transition_base;

  &:hover {
    transform: translateY(-2px);
    border-color: token.$color_border_hover;
    box-shadow: token.$elevation_level1;
  }
}

.request_item_left {
  @include token.flex_column;
  gap: token.$spacing_16;
}

.request_item_title {
  @include token.heading_small_medium;
  font-size: token.$font_size_18;
  color: token.$color_text_heading;
}

.request_item_tags {
  display: flex;
  flex-wrap: wrap;
  gap: token.$spacing_4;
}

.request_item_tag {
  @include token.body_medium;
  font-size: token.$font_size_12;
  color: token.$color_text_body;
  background: token.$color_bg_solid_dim;
  border-radius: token.$radius_sm;
  padding: token.$spacing_4 token.$spacing_8;
}

.request_item_dday {
  @include token.body_medium;
  font-size: token.$font_size_14;
  color: token.$color_brand_primary;
  white-space: nowrap;
}