@use "src/shared/styles/token" as *;

@mixin button-base {
  @include flex-center;
  border: none;
  cursor: pointer;
  transition: $transition-base;
  font-weight: $font-weight-medium;
  border-radius: $radius-md;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin button-primary {
  @include button-base;
  background: $color-background-darkblue;
  color: $text-inverse;

  &:hover:not(:disabled) {
    background: $color-background-dark;
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}

@mixin button-secondary {
  @include button-base;
  background: transparent;
  border: 1px solid $color-border;
  color: $color-text-primary;

  &:hover:not(:disabled) {
    background: $color-background-secondary;
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}

@mixin button-ghost {
  @include button-base;
  background: transparent;
  color: $color-text-primary;

  &:hover:not(:disabled) {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

@mixin button-sm {
  height: 39px;
  padding: $spacing-sm $spacing-lg;
  @include text-sm;
}

@mixin button-md {
  padding: $spacing-md $spacing-xl;
  @include text-base;
}

@mixin button-lg {
  padding: $spacing-lg $spacing-2xl;
  @include text-md;
}