@use "src/shared/styles/token" as *;

.field {
  @include flex-column;
  gap: $spacing-sm;

  label {
    @include body-medium;
    font-size: $font-size-sm;
    color: $text-strong;
  }
}

.row {
  width: 100%;
  display: grid;
  gap: $spacing-sm;

  > * {
    min-width: 0;
  }
}

.row_edu {
  grid-template-columns: 1fr 1fr;

  @media (max-width: 860px) {
    grid-template-columns: 1fr;
  }
}

.is_ged {
  grid-template-columns: 1fr;
}

.row_edu_dates {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}

.row_ged {
  grid-template-columns: 1fr;
}

.error {
  font-size: $font-size-xs;
  color: $color-error;
}