@use "src/shared/styles/function/flex" as *;
@use "src/shared/styles/typography/mixin" as *;

.pg-simple {
  @include flex-center;
  gap: 8px;
  margin-top: 28px;
  flex-wrap: wrap;
}

.pg-simple__nav,
.pg-simple__num {
  padding: 8px 12px;
  border: 1px solid var(--line-normal);
  border-radius: 6px;
  color: var(--text-darkblue);
  background: var(--background-light);
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 14px;
}

.pg-simple__num.is-active {
  @include Medium;
  background: var(--primary);
  color: #fff;
}

.pg-simple__nav:hover:not(.is-disabled),
.pg-simple__num:hover:not(.is-active) {
  background: var(--background-input);
}

.pg-simple__nav.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}