@use "@bigtablet/design-system/scss/token" as token;

.success {
  @include token.flex-column-center;
  gap: token.$spacing_xl;
  padding: token.$spacing_3xl;
  text-align: center;
}

.success_title {
  @include token.heading-2;
  color: token.$text_strong;
}

.success_text {
  @include token.body-regular;
  color: token.$text_normal;
  line-height: token.$line_height_relaxed;
}