@use "@bigtablet/design-system/scss/token" as token;

.field {
	@include token.flex_column;
	gap: token.$spacing_8;
}

.label {
	@include token.body_medium;
	color: token.$color_text_heading;
}

.row {
	display: flex;
	align-items: center;
	gap: token.$spacing_8;
}

.help {
	@include token.body_small;
	color: token.$color_text_caption;
}
