:root {
  --text-dark: #303841;
  --text-darkblue: #47555E;
  --text-mediumdarkblue: #4C545D;
  --text-light: #EEEEEE;

  --text-normal: #3B3B3B;
  --text-sub: #6B7280;
  --text-disabled: #9CA3AF;

  --background-dark: #7AA5D2;
  --background-light: #F8FAFC;
  --background-input: #FFFFFF;

  --line-normal: #E5E7EB;
  --line-strong: #9CA3AF;

  --primary: #5A8DCB;
  --primary-hover: #4C7CB6;
}