@use "@bigtablet/design-system/scss/token" as token;

.blog_list {
	display: flex;
	width: 100%;
	padding-block: token.$spacing_48 token.$spacing_48;

	&_header {
		@include token.flex_column;
		align-items: center;
		text-align: center;
		gap: token.$spacing_8;
		margin-bottom: token.$spacing_48;

		h2 {
			@include token.heading_medium_medium;
			font-size: token.$font_size_24;
			color: token.$color_text_heading;
		}

		p {
			@include token.body_medium;
			font-size: token.$font_size_18;
			color: token.$color_text_caption;
		}
	}

	&_grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: token.$spacing_40;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	&_sentinel {
		height: 1px;
	}

	&_empty {
		@include token.body_medium;
		font-size: token.$font_size_20;
		margin-top: token.$spacing_48;
		color: token.$color_text_caption;
		text-align: center;
	}
}

@include token.compact {
	.blog_list_grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: token.$spacing_24;
	}

	.blog_list_header {
		margin-bottom: token.$spacing_40;

		h2 {
			font-size: token.$font_size_20;
		}

		p {
			font-size: token.$font_size_16;
		}
	}
}

@include token.medium {
	.blog_list_grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@include token.from_expanded {
	.blog_list_grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@include token.from_large {
	.blog_list_grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
