@use "@bigtablet/design-system/scss/token" as token;

.blog_list {
	display: flex;
	flex-direction: column;
	width: 100%;

	&_header {
		@include token.flex_column;
		align-items: center;
		text-align: center;
		gap: token.$spacing_sm;
		margin-bottom: token.$spacing_3xl;

		h2 {
			@include token.heading_2;
			font-size: token.$font_size_2xl;
			color: token.$text_strong;
		}

		p {
			@include token.body_medium;
			font-size: token.$font_size_lg;
			color: token.$text_subtle;
		}
	}

	&_grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 384px));
		gap: token.$spacing_2xl;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		justify-content: center;
	}

	&_sentinel {
		height: 1px;
	}

	&_empty {
		@include token.body_regular;
		font-size: token.$font_size_xl;
		margin-top: token.$spacing_3xl;
		color: token.$text_subtle;
		text-align: center;
	}
}

@include token.mobile {
	.blog_list_grid {
		gap: token.$spacing_lg;
	}

	.blog_list_header {
		margin-bottom: token.$spacing_2xl;

		h2 {
			font-size: token.$font_size_xl;
		}

		p {
			font-size: token.$font_size_base;
		}
	}
}
