@use "@bigtablet/design-system/scss/token" as token;

.layout {
    @include token.flex_column;
    min-height: 100svh;
    background-color: token.$color_bg_solid_dim;
    color: token.$color_text_body;
}

.layout_main {
    @include token.flex_column;
    width: 100%;
    flex: 1 0 auto;
    align-items: center;
    overflow: visible;
    justify-content: flex-start;
}
